.footer {
    background-color: blueviolet;
    margin-top: auto;
    color: white;
    padding: 15px;
}

.footer_nav {
    display: flex;
    flex-direction: column;
}

.footer__list-item a {
    position: relative;
}

.footer__list-item + .footer__list-item{
    margin-top: 5px;
}

.footer__list-item a:after {
    content: "";
    width: 0;
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: width .2s linear;
}

.footer__list-item a:hover:after {
    width: 100%
}