.nav {
    display: flex;
    background: blueviolet;
}

.nav__item {
    cursor: pointer;
    color: white;
    padding: 10px 40px;
    position: relative;

}

.nav__item:hover {
    background-color: chartreuse;
    transition: background-color .2s linear;
}
