:root {
    --main-color: #6B427A;
    --main-color-light: #B16DCA;
    --bacground: #e7ecef;
}

body {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: var(--bacground);
    font: 400 14px/1.2 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.App {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 50px;
}
footer {
    flex-grow: 0;
}

header {
    flex-grow: 0;
}


a, a:hover {
    text-decoration: none;
    color: inherit
}

ul, ol{
    padding: 0;
    margin: 0;
  }

ul {
    list-style: none;
}

img {
    width: 100%;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-block,
.aside {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.page-title,
.content-link {
    color: var(--main-color-light);
}

.content-link {
    text-decoration: underline;
}

.content-link:hover {
    color: var(--main-color-light);
}

.news-card {
    display: flex;
}

.news-card__img img{
    width: 200px;
}

.news-card__content {
    padding: 0 10px;
    flex-grow: 2;
}

.registration__list {
    font-size: 16px;
}

.registration__list li {
    margin-bottom: 8px;
}

.registration__list li:first-child {
    margin-top: 8px;
}